<template>
  <ul class="list-group">
    <li
      class="list-group-item"
      v-for="user in invitedUserList"
      :key="user.id"
    >
      <span class="container">
        <span class="row">
          <span class="col-10">
            {{user.username}}
          </span>
          <span class="col-2">
            <button
              type="button"
              class="btn btn-danger"
              v-on:click="uninviteUser(user.id)">
                x
            </button>
          </span>
        </span>
      </span>
    </li>
  </ul>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'UserList',
  computed: {
    ...mapState([
      'invitedUserList',
    ]),
  },
  methods: {
    uninviteUser(userId) {
      const freegoId = this.$route.params.id;
      this.$store.dispatch('uninviteUser', {
        userId,
        freegoId,
      });
    },
  },
  mounted() {
    if (this.$route.params.id) {
      const freegoId = this.$route.params.id;
      this.$store.dispatch('getInvitedUserList', freegoId);
    }
  },
};
</script>
