<template>
  <!-- page for stock creation -->
  <div>
    <div class="mb-3">
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
        <b-form-group id="idFrigo"
          label="Nom du frigo:"
          label-for="FrigoInput">
          <b-container class="w-25 p-3 mb-1">
            <b-form-input id="frigoInput"
              type="text"
              v-model="form.freegoName"
              required
              placeholder="Nom du freego">
            </b-form-input>
          </b-container>
        </b-form-group>
        <div>
          <b-button type="submit" variant="primary">Créer</b-button>
        </div>
      </b-form>
    </div>
    <div
      class="alert alert-primary"
      role="alert"
      v-if="formMessage !== ''"
    >{{formMessage}}</div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'AddStockPage',
  data() {
    return {
      form: {
        freegoName: '',
      },
      show: true,
    };
  },
  computed: {
    ...mapState([
      'formMessage',
    ]),
  },
  methods: {
    onSubmit(evt) {
      const freegoName = this.$data.form.freegoName;

      evt.preventDefault();

      // add freego and set message to "adding"
      if (freegoName !== '') {
        this.$store.dispatch('addFreego', { name: freegoName });
        this.$store.commit('updateFormMessage', 'Ajout en cours...');
      }
      this.$data.form.freegoName = '';
    },
    onReset(evt) {
      evt.preventDefault();
    },
  },
  /* clean common message after destroying component */
  destroyed() {
    this.$store.commit('updateFormMessage', '');
  },
};
</script>
