<template>
  <!-- page for displaying a single freego -->
  <div
    v-if="getFreegoName(freegoId) !== null"
    class="FreegoPage"
  >
    <div class="container mb-5">
      <div class="row">
        <div class="col-12">
          <h2>{{getFreegoName(freegoId)}}</h2>
          <button
            type="button"
            class="btn btn-primary"
            @click="gotToSettings(freegoId)"
            v-if="isOwner(freegoId, currentUserId)"
          >Réglages</button>
        </div>
      </div>
    </div>
    <div
      v-if="showProductDetail"
      class="container">
      <Product />
      <button
        class="btn btn-primary"
        @click="hideItemDetail()"
      >
        Retour au freego
      </button>
    </div>
    <div v-else class="container">
      <div v-if="displayCategoryFilter" class="row mb-5">
        <Categories class="col-4"/>
        <Products class="col-8"/>
      </div>
      <div v-else class="row mb-5">
        <Products class="col-12"/>
      </div>
      <div class="row">
        <AddProductBarcode class="col-12"/>
      </div>
      <!--<div class="row">
        <AddProduct class="col-12"/>
      </div>-->
    </div>
  </div>
  <div v-else>
    Freego non trouvé
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import Categories from '@/components/category/Categories';
import Products from '@/components/product/Products';
import Product from '@/components/product/Product';
import AddProductBarcode from '@/components/product/AddProductBarcode';
import AddProduct from '@/components/product/AddProduct';

export default {
  name: 'Content',
  components: {
    Categories,
    Products,
    AddProductBarcode,
    AddProduct,
    Product,
  },
  computed: {
    ...mapState([
      'showProductDetail',
      'currentUserId',
    ]),
    ...mapGetters([
      'getFreegoName',
      'isOwner',
    ]),
  },
  methods: {
    /* go to setting page for the current freego */
    gotToSettings(freegoId) {
      this.$router.push(`/freego/${freegoId}/settings`);
    },
    /* hide detail afeter clickign "back" on an item detail (Product component) */
    hideItemDetail() {
      this.$store.commit('showProductDetail', false);
    },
  },
  /* update state to select current freego */
  mounted() {
    this.$store.commit('setSelectedFreego', this.$route.params.id);
  },
  data() {
    return {
      freegoId: this.$route.params.id,
      displayCategoryFilter: false,
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
