<template>
  <!-- page for a single freego settings -->
  <div class="container">
    <div class="row mb-3">
      <div class="col-12">
        Accès au Freego :&nbsp;
        <span class="bold">
          {{getFreegoName(freegoId)}} (id : {{freegoId}})
        </span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <UserList />
      </div>
    </div>
    <div
      class="row mb-3"
      v-if="isOwner(freegoId, currentUserId)"
    >
      <div class="col-12">
        <form @submit="onSubmit($event, freegoId, getFreegoName(freegoId))">
          <label for="add_user_input">
            <input
              type="text"
              id="add_user_input"
              ref="addUserInput"
              placeholder="Utilisateur"
            />
          </label>
          <input
            class="btn btn-primary"
            type="submit"
            value="Ajouter"
          />
        </form>
      </div>
    </div>
    <div
      class="row mb-3"
      v-else
    >
      <div class="col-12 alert alert-danger">
        Vous n'êtes pas propriétaire de ce freego
      </div>
    </div>
    <div class="row mb-3">
      <div
        class="alert alert-primary col-12"
        role="alert"
        v-if="formMessage !== ''"
      >{{formMessage}}</div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import UserList from '@/components/user/UserList';

export default {
  name: 'FreegoSettings',
  components: {
    UserList,
  },
  computed: {
    ...mapState([
      'stocks',
      'formMessage',
      'selectedFreegoId',
      'currentUserId',
      'invitedUserList',
    ]),
    ...mapGetters([
      'getFreegoName',
      'isOwner',
    ]),
  },
  mounted() {
    const freegoId = this.$route.params.id;
    this.$store.dispatch('getInvitedUserList', freegoId);
  },
  methods: {
    onSubmit(event, freegoId, freegoName) {
      const userId = this.$refs.addUserInput.value;
      event.preventDefault();

      if (userId && freegoId) {
        this.$store.dispatch('addUserToFreego', {
          userId,
          freegoName,
          freegoId,
        })
          .then(() => {
            this.$store.dispatch('getInvitedUserList', freegoId);
          });
      }
    },
  },
  data() {
    return {
      freegoId: this.$route.params.id,
    };
  },
};
</script>
