<template>
  <!-- page for a user to log in -->
  <div>
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
        <b-form-group id="idEmail"
            label="Courriel:"
            label-for="emailInput">
          <b-container class="w-25">
            <b-form-input id="emailInput"
                type="email"
                v-model="form.email"
                required
                placeholder="Enter email"
                ref="loginInput">
            </b-form-input>
          </b-container>
        </b-form-group>
        <b-form-group id="idPassword"
          label="Mot de passe:"
          label-for="passwordInput">
          <b-container class="w-25">
            <b-form-input id="passwordInput"
              type="password"
              v-model="form.password"
              required
              placeholder="Enter password"
              ref="passwordInput">
            </b-form-input>
          </b-container>
        </b-form-group>
        <div>
          <b-button type="submit" variant="primary">Connexion</b-button>
          <b-button type="reset" variant="danger">Réinitialiser</b-button>
        </div>
      </b-form>
      <div
        class="alert alert-primary"
        role="alert"
        v-if="formMessage !== ''"
      >{{formMessage}}
    </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import userService from './../../user/user.service';

export default {
  name: 'LoginPage',
  computed: {
    ...mapState([
      'formMessage',
    ]),
  },
  mounted() {
    this.$store.commit('updateFormMessage', '');
  },
  destroyed() {
    this.$store.commit('updateFormMessage', '');
  },
  data() {
    return {
      form: {
        email: '',
        name: '',
      },
      show: true,
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      this.$store.commit('updateFormMessage', 'Recherche utilisateur...');
      const userName = this.$refs.loginInput.value;
      const password = this.$refs.passwordInput.value;
      const response = userService.login(userName, password).then();

      // after login is complete
      response.then((res) => {
        if (res) {
          // if logged successfuly, set token and load user data
          localStorage.setItem('token', res.access_token);
          this.$store.commit('updateCurrentUserId', res.access_token);
          this.$store.commit('updateFormMessage', 'Succès de la connexion');
          this.$store.commit('isTokenSet', true);
          this.$store.dispatch('updateUserToken')
            .then(() => {
              this.$store.dispatch('getAllFreegos').then(() => {
                this.$router.push('/');
              });
            });
        }
      }).catch((err) => {
        if (err === 404) {
          // Display error message 404
          this.$store.commit('updateFormMessage', 'Connexion échouée');
        } else if (err === 401) {
          // Display error message 401
          this.$store.commit('updateFormMessage', 'Connexion échouée');
        }
      });
    },
    onReset(evt) {
      evt.preventDefault();

      /* Reset our form values */
      this.form.email = '';
      this.form.password = '';

      /* Trick to reset/clear native browser form validation state */
      this.show = false;
      this.$nextTick(() => { this.show = true; });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
