<template>
  <!-- 404 page not found template -->
  <div>
    <h2>Cette page n'existe pas</h2>
    <p>404 - page non trouvée</p>
    <router-link to="/">
      Page d'accueil
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'NotFoundPage',
};
</script>
