<template>
  <!-- page for a user to register -->
  <div>
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
        <b-form-group id="idEmail"
          label="Courriel :"
          label-for="emailInput">
          <b-container class="w-25">
            <b-form-input id="emailInput"
              type="email"
              v-model="form.email"
              required
              placeholder="Email"
              ref="emailInput">
            </b-form-input>
          </b-container>
        </b-form-group>

        <b-form-group id="idPseudo"
          label="Pseudo :"
          label-for="pseudoInput">
          <b-container class="w-25">
            <b-form-input id="pseudoInput"
              type="text"
              v-model="form.pseudo"
              required
              placeholder="Pseudo"
              ref="pseudoInput">
            </b-form-input>
          </b-container>
        </b-form-group>

        <b-form-group id="idPassword"
          label="Mot de passe :"
          label-for="passwordInput">
          <b-container class="w-25">
            <b-form-input id="passwordInput"
              type="password"
              v-model="form.password"
              required
              placeholder="Mot de passe"
              ref="passwordInput">
            </b-form-input>
          </b-container>
        </b-form-group>

        <b-form-group id="idPasswordConfirm"
          label="Confirmer le mot de passe :"
          label-for="passwordConfirmInput">
          <b-container class="w-25">
            <b-form-input id="passwordConfirmInput"
              type="password"
              v-model="form.passwordConfirm"
              required
              placeholder="Confirmer le mot de passe"
              ref="passwordConfirmInput">
            </b-form-input>
          </b-container>
        </b-form-group>

        <div>
          <b-button type="submit" variant="primary">Création</b-button>
          <b-button type="reset" variant="danger">Réinitialisation</b-button>
        </div>
      </b-form>
      <div
        class="alert alert-primary"
        role="alert"
        v-if="formMessage !== ''"
      >{{formMessage}}
    </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import userService from './../../user/user.service';

export default {
  name: 'RegistrationPage',
  computed: {
    ...mapState([
      'formMessage',
    ]),
  },
  data() {
    return {
      form: {
        email: '',
        pseudo: '',
        password: '',
        passwordConfirm: '',
      },
      show: true,
    };
  },
  mounted() {
    this.$store.commit('updateFormMessage', '');
  },
  destroyed() {
    this.$store.commit('updateFormMessage', '');
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();

      // Variable to send to the server
      const email = this.$refs.emailInput.value;
      const userName = this.$refs.pseudoInput.value;
      const password = this.$refs.passwordInput.value;
      const passwordConfirm = this.$refs.passwordConfirmInput.value;

      if (this.checkPwd(password, passwordConfirm)) {
        const response = userService.registration(email, userName, password);
        response.then((res) => {
          if (res) {
            localStorage.setItem('token', response.access_token);
            // Send to the login page
            this.$router.push('/login');
          }
        }).catch((err) => {
          if (err === 409) {
            this.$store.commit('updateFormMessage', 'Ce courriel existe déjà');
          }
        });
      } else {
        this.$store.commit('updateFormMessage', 'Les mots de passe doivent être identiques');
      }
    },
    onReset(evt) {
      evt.preventDefault();

      /* Reset our form values */
      this.form.email = '';
      this.form.password = '';

      /* Trick to reset/clear native browser form validation state */
      this.show = false;
      this.$nextTick(() => { this.show = true; });
    },
    // Check if the 2 password are the same
    checkPwd(pwd1, pwd2) {
      if (pwd1 !== pwd2) {
        return false;
      }
      return true;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
