<template>
  <!-- display the list of stocks for the current user -->
  <div class="StocksPage">
    <div class="container">
      <div class="mb-3">
        <div class="col-12">
          <h2>Mes FreeGos</h2>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <button
            type="button"
            class="btn btn-primary"
            @click="navigate('/add')"
          >
            Ajouter un freego
          </button>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ul
            class="list-group"
          >
            <li
              v-for="freego in stocks"
              :key="freego.id"
              :class="
                `list-group-item
                list-group-item-action
                ${(freego.owner !== currentUserId ? 'list-group-item-success' : '')}
                `"
            >
              <span class="container">
                <span class="row">
                  <span class="freego_name col-8">
                    <router-link :to="`/freego/${freego.id}`">
                      <span>{{freego.name}}</span>
                      <span class="italic">
                        {{freego.owner === currentUserId ? ' (owned)' : ' (access granted)'}}
                      </span>
                    </router-link>
                  </span>
                  <span class="freego_invite_button col-2">
                    <button
                      v-if="freego.owner === currentUserId"
                      type="button"
                      class="btn btn-primary"
                      v-on:click="navigate(`/freego/${freego.id}/settings`)"
                    >
                      Inviter
                    </button>
                  </span>
                  <span class="freego_remove_button col-2">
                    <button
                      type="button"
                      class="btn btn-danger"
                      v-on:click="removeFreego(freego.id)"
                    >
                      x
                    </button>
                  </span>
                </span>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'StocksPage',
  computed: {
    ...mapState([
      'stocks',
      'currentUserId',
    ]),
  },
  /* get list of stock for the current user */
  mounted() {
    this.$store.dispatch('getAllFreegos');
  },
  methods: {
    /* remove a stock */
    removeFreego(freegoId) {
      this.$store.dispatch('removeFreego', freegoId);
    },
    /* navigate to a path */
    navigate(path) {
      this.$router.push(path);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.freego_name, .freego_remove_button {
  display: inline-block;
}
.freego_name {
  width: 78%;
}
.freego_remove_button{
  width: 20%;
}
</style>
