<template>
    <li v-on:click="toggleSelectedCategory(categoryName)">
      {{categoryName}}
    </li>
</template>

<script>
export default {
  name: 'Category',
  props: ['categoryName'],
  methods: {
    toggleSelectedCategory(category) {
      this.$store.commit('toggleSelectedCategoryName', category);
    },
  },
};
</script>
