<template>
  <div>
    <CategoryList/>
  </div>
</template>

<script>
import CategoryList from '@/components/category/CategoryList';

export default {
  name: 'Categories',
  components: {
    CategoryList,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
