<template>
  <div>
    <h2>{{title}}</h2>
    <ul class="list-group">
      <Category
        :class="
          'list-group-item list-group-item-action'.concat(isSelected(category) ? ' active' : '')
        "
        v-for="category in categories"
        v-bind:key="category"
        v-bind:categoryName="category"
      />
    </ul>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import Category from '@/components/category/Category';

export default {
  name: 'CategoryList',
  components: {
    Category,
  },
  methods: {
    isSelected(category) {
      return this.$store.state.selectedCategoryNames.indexOf(category) !== -1;
    },
  },
  computed: mapState({
    selectedCategoryName: 'selectedCategoryName',
  }),
  data() {
    return {
      title: 'Catégories',
      categories: [
        'Produits laitiers',
        'Viandes',
        'Oléagineux',
      ],
    };
  },
};
</script>
