<template>
  <!-- add a product without barcode -->
  <div>
    <h2>Ajouter un produit sans code-barre</h2>
    <div class="container">
      <div class="row mb-4">
        <div class="col">
          <label for="input_name">Nom du produit</label>
          <input
            id="input_name"
            type="text"
            ref="nameInput"/>
        </div>
      </div>
        <div class="row mb-4">
          <div class="col">
          <label for="input_quantity">Quantité du produit</label>
          <input
            id="input_quantity"
            type="number"
            ref="quantityInput"/>
          </div>
        </div>
      <div class="row mb-4">
        <div class="col">
          <button
            type="button"
            class="btn btn-primary"
            v-on:click="addProduct()">
            Ajouter
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  name: 'AddProductBarcode',
  components: {
  },
  computed: {
    ...mapState([
      'foodList',
    ]),
    ...mapActions([
      'postProducts',
    ]),
  },
  methods: {
    /* add the current product */
    addProduct() {
      const nameProduct = this.$refs.nameInput.value;
      const quantityProduct = this.$refs.quantityInput.value;

      const updatedItem = {
        product: {
          product_name: nameProduct,
        },
        quantity: quantityProduct,
        stock: 1,
      };
      this.$store.commit('addItemToFoodList', updatedItem);
      /* this.$store.dispatch('postProducts', {
        updatedItem,
        idStock: 1,
      }); */
    },
  },
  data() {
    return {
    };
  },
};
</script>
