<template>
  <!-- add product from the given barcode -->
  <div>
    <h2>Ajouter un produit avec code-barre</h2>
    <div class="container">
      <div class="row mb-4">
        <div class="col">
          <label for="input_code_barre">Code Barre</label>
          <input
            id="input_code_barre"
            type="text"
            ref="barcodeInput"
          />
          <button
            type="button"
            class="btn btn-primary"
            v-on:click="displayProductFromBarcode()"
          >
            Ajouter
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ProductPreview v-if="currentProductProposal !== null || hasAdded === true"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import ProductPreview from '@/components/product/ProductPreview';

export default {
  name: 'AddProductBarcode',
  components: {
    ProductPreview,
  },
  computed: {
    ...mapState([
      'currentProductProposal',
    ]),
  },
  methods: {
    /* get the barcode and retrive the product if possible */
    displayProductFromBarcode() {
      const barcode = this.$refs.barcodeInput.value;

      this.$data.hasAdded = true;
      this.$store.dispatch('displayProductFromBarcode', {
        barcode,
      });
    },
  },
  data() {
    return {
      hasAdded: false,
    };
  },
};
</script>
