<template>
  <!-- pagination when too many items -->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a
          class="page-link"
          href="#"
          v-on:click="previousPage()"
        >
          Précédent
        </a>
      </li>
      <li
        :class="'page-item'.concat(currentPage === index ? ' active' : '')"
        v-for="index in getNumberOfPages()"
        v-bind:key="index"
      >
        <a
          class="page-link"
          href="#"
          v-on:click="setPageNumber(index)"
        >{{index}}</a>
      </li>
      <li class="page-item">
        <a
          class="page-link"
          href="#"
          v-on:click="nextPage()"
        >
          Suivant
        </a>
      </li>
    </ul>
  </nav>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'Pagination',
  methods: {
    /* returns the number of pages */
    getNumberOfPages() {
      const paginationLimit = this.$store.state.paginationLimit;
      const foodList = this.$store.getters.filteredFoodList;
      const foodListLength = foodList.length;
      const numberOfFullPages = (
        Math.floor(foodListLength / paginationLimit)
      );
      const hasLeftoverPage = (
        (foodListLength % paginationLimit) > 0
      );
      const numberOfPage = hasLeftoverPage ? numberOfFullPages + 1 : numberOfFullPages;
      return numberOfPage;
    },
    /* change page number */
    setPageNumber(number) {
      this.$store.commit('setPageNumber', number);
    },
    /* previous button */
    previousPage() {
      if (this.$store.state.currentPage > 1) {
        this.$store.commit('setPageNumber', this.$store.state.currentPage - 1);
      }
    },
    /* next button */
    nextPage() {
      if (this.$store.state.currentPage < this.getNumberOfPages()) {
        this.$store.commit('setPageNumber', this.$store.state.currentPage + 1);
      }
    },
  },
  computed: mapState([
    'currentPage',
  ]),
};
</script>
