<template>
  <!-- display the list of products for current freego -->
  <div>
    <h2>{{title}}</h2>
    <div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{foodHeader}}</th>
            <th>{{quantityHeader}}</th>
            <th>{{removeHeader}}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(foodItem, index) in filteredFoodList"
            :key="index"
            v-if="
              shouldDisplay(
                index,
                paginationLimit,
                currentPage
              )"
            @click="showItemDetail(foodItem.product.id)"
            >
            <td v-if="foodItem.product">{{foodItem.product.name}}</td>
            <td>
              <input
                :class="`form-control ${foodItem.isModified}`"
                type="number"
                :value="foodItem.quantity"
                min="1"
                v-on:change="updateQuantity(foodItem, $event.target.value)"
                @click="$event.stopPropagation();"
              />
            </td>
            <td>
              <button
                type="button"
                class="btn btn-danger"
                v-on:click="$event.stopPropagation();updateQuantity(foodItem, 0)"
              >x</button>
            </td>
          </tr>
        </tbody>
      </table>
      <Pagination
        v-if="shouldPaginate(filteredFoodList, paginationLimit)"
      />
    </div>
    <!-- TODO add modal -->
    <!--<Modal v-if="showModal" @close="" />-->
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex';
import Pagination from '@/components/product/Pagination';
import Modal from '@/components/common/Modal';

export default {
  name: 'ProductList',
  components: {
    Pagination,
    Modal,
  },
  /* get all product for current freego */
  mounted() {
    this.$store.dispatch('getAllProducts', this.$route.params.id);
  },
  computed: {
    ...mapState([
      'selectedCategoryName',
      'paginationLimit',
      'currentPage',
      'filteredFoodList',
      'showProductDetail',
    ]),
    ...mapGetters([
      'filteredFoodList',
    ]),
    ...mapMutations([
      'setModified',
    ]),
  },
  methods: {
    /* if the item should display or not according to pagination */
    shouldDisplay(index, limit, currentPage) {
      return (
        // has index below max pagination
        (
          ((currentPage - 1) * limit) <= index
          && index < (currentPage * limit)
        )
      );
    },
    /* is there enough products in the list to paginate */
    shouldPaginate(foodList, paginationLimit) {
      return foodList.length > paginationLimit;
    },
    /* update an item quantity */
    updateQuantity(foodItem, amount) {
      this.$store.dispatch('updateProductQuantity', {
        item: foodItem,
        amount,
      });
    },
    /* navigate to a path */
    navigate(path) {
      this.$router.push(path);
    },
    /* update the state to display a product details */
    showItemDetail(id) {
      this.$store.commit('setSelectedProduct', id);
      this.$store.commit('showProductDetail', true);
    },
  },
  data() {
    return {
      title: 'Mon FreeGo',
      foodHeader: 'Aliments',
      quantityHeader: 'Quantité',
      removeHeader: 'Supprimer',
      showModal: false,
      modifiesIds: [],
    };
  },
};
</script>
