<template>
  <!-- display a single product -->
  <div class="container">
    <div
      class="row mb-3"
      v-if="selectedProduct"
    >
      <div
        class="card col-12"
        v-if="selectedProduct.product"
      >
        <img
          class="card-img-top"
          v-if="selectedProduct.product.image"
          :src="selectedProduct.product.image"
          alt="Card image cap"
        >
        <div class="card-body">
          <h2 class="card-title">{{selectedProduct.product.name}}</h2>
          <p></p>
          <ul
            class="list-group"
            v-if="selectedProduct.product.brand || selectedProduct.product.nutriscore"
          >
            <li
              class="list-group-item"
              v-if="selectedProduct.product.brand"
            >
              Marque : {{selectedProduct.product.brand}}</li>
            <li
              class="list-group-item"
              v-if="selectedProduct.product.nutriscore"
            >
              Nutriscore : {{(selectedProduct.product.nutriscore).toUpperCase()}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'Product',
  computed: {
    ...mapState([
      'selectedProduct',
    ]),
  },
};
</script>
<style scoped >
img {
  height: auto;
  max-width: 100%;
}
</style>
