<template>
  <!-- display a preview for an item to add in the product list -->
  <div>
    <div v-if="currentProductProposal !== null">
      <h3>Produit trouvé</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Quantité</th>
            <!--<th>Catégorie</th>-->
            <th>Ajouter</th>
            <th>Supprimer</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{currentProductProposal.name}}</td>
            <td>
              <input
                class="form-control"
                type="number"
                :value="1"
                min="1"
                ref="productAmountInput"
              />
            </td>
            <!--<td>placeholder catégorie{{currentProductProposal.category}}</td>-->
            <td>
              <button
                type="button"
                class="btn btn-primary"
                v-on:click="addFoodItem(currentProductProposal)"
              >+</button>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-danger"
              >x</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div v-if="currentProductProposal === null">
      <p>Aucun produit trouvé</p>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'ProductPreview',
  computed: {
    ...mapState([
      'currentProductProposal',
    ]),
  },
  methods: {
    /* add the previewed item to the product list after confirmation */
    addFoodItem(foodItem) {
      const amount = this.$refs.productAmountInput.value;
      const updatedItem = {
        product: {
          ...foodItem,
        },
        quantity: amount,
        stockId: this.$route.params.id,
        stock: this.$route.params.id,
      };
      this.$store.dispatch('addProduct', { ...updatedItem });
    },
  },
};
</script>
