<template>
  <div>
    <ProductList/>
  </div>
</template>

<script>
import ProductList from '@/components/product/ProductList';

export default {
  name: 'Content',
  components: {
    ProductList,
  },
  data() {
    return {
      content: '',
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
