<template>
  <!-- footer and menu -->
  <b-card-footer
    class="section footer-classic context-dark bg-image mt-3">
    <b-nav>
      <b-nav-item href="#">A propos</b-nav-item>
      <b-nav-item href="#">Note equipe</b-nav-item>
      <b-nav-item href="#">Contact</b-nav-item>
      <b-nav-item href="#">Aide</b-nav-item>
    </b-nav>
  </b-card-footer>
</template>
<script>
export default {
  name: 'Footer',
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  a.nav-link {
    color: #FFF;
  }
  .footer-classic {
    background-color: /*#33B5E5*/ #EE596C;
  }
</style>
