<template>
  <!-- header and menu -->
  <b-navbar id="navbar_menu_bg" toggleable="md" type="dark" variant="info">
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
    <b-navbar-brand to="/">
      <img src="./../assets/4LPACINO.png" wide=30 height=30 alt="BV" >
    </b-navbar-brand>
    <b-collapse is-nav id="nav_collapse">
      <b-navbar-nav>
        <b-nav-item to="/">Mes Freegos</b-nav-item>
      </b-navbar-nav>
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-item-dropdown right>
          <!-- Using button-content slot -->
          <template slot="button-content">
            <em>
              {{currentUserId ? `Mon id à partager : ${currentUserId}` : 'Utilisateur'}}
            </em>
          </template>
          <div v-if="!isTokenSet && verifyToken() === false">
            <b-dropdown-item to="/login" >Connexion</b-dropdown-item>
            <b-dropdown-item to="/register">Inscription</b-dropdown-item>
          </div>
          <div v-else>
            <b-dropdown-item v-on:click="logout" to="/login">Se déconnecter</b-dropdown-item>
          </div>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
import { mapState } from 'vuex';
import userService from './../user/user.service';


export default {
  name: 'Menu',
  data() {
    return {
      connected: false,
    };
  },
  computed: {
    ...mapState([
      'currentUserId',
      'isTokenSet',
    ]),
  },
  methods: {
    verifyToken() {
      if (localStorage.getItem('token') === null) {
        this.$store.commit('isTokenSet', false);
        return false;
      }
      this.$store.commit('isTokenSet', true);
      return true;
    },
    logout(evt) {
      evt.preventDefault();
      userService.logout();
      this.$store.commit('isTokenSet', false);
    },
  },
};

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.navbar {
  margin-bottom: 40px;
  padding: 20px;
  width: 100%; /* Full width */
}
#navbar_menu_bg {
  background-color: /*#33B5E5*/ #EE596C !important;
}
#navbar_menu_bg a {
  color: #FFF;
}
#navbar_menu_bg a.dropdown-item {
  color: #16181b;
}
</style>
