<template>
  <div id="app">
    <header>
      <Menu/>
    </header>
    <main >
      <h1 class="text-uppercase mb-3">Freego</h1>
      <router-view/>
    </main>
    <footer>
      <Footer/>
    </footer>
  </div>
</template>

<script>
import Menu from '@/components/Menu';
import Footer from '@/components/Footer';

export default {
  name: 'App',
  components: {
    Menu,
    Footer,
  },
  mounted() {
    if (localStorage.getItem('token')) {
      this.$store.dispatch('getAllFreegos');
    }
    this.$store.commit('updateCurrentUserId', localStorage.getItem('token'));
  },
};
</script>

<style>
html, body, #app { height: 100%; }
main {
  min-height: 80%;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
footer {
  margin-top: 40px;
}
</style>
